# Introduction to Data Science - miniproject

In [2]:
import pandas as pd

In [3]:
age_gender_education = pd.read_csv('./data/Helsingin_15_vuotta_tayttaneet_sukupuolen_ian_ja_koulutusasteen_mukaan.csv', sep='\,', engine='python')
age_gender_education.head()

,"""Alue","""""Sukupuoli""""","""""Koulutusaste""""","""""15 vuotta tayttaneet yhteensa 2021""""","""""15-24-vuotiaat 2021""""","""""25-44-vuotiaat 2021""""","""""45-64-vuotiaat 2021""""","""""Yli 65-vuotiaat 2021"""""""
0,"""091 101 Vironniemen peruspiiri","""""Molemmat sukupuolet""""","""""Kaikki koulutusasteet""""",11310,1393,4085,3192,"2640"""
1,"""091 101 Vironniemen peruspiiri","""""Molemmat sukupuolet""""","""""Tutkinnon suorittaneita yhteensa""""",9651,846,3619,2938,"2248"""
2,"""091 101 Vironniemen peruspiiri","""""Molemmat sukupuolet""""","""""3-4 Toinen aste ja erikoisammattikoulutusaste""""",2888,720,990,698,"480"""
3,"""091 101 Vironniemen peruspiiri","""""Molemmat sukupuolet""""","""""5-6 Alin korkea- ja alempi korkeakouluaste""""",2644,121,1024,737,"762"""
4,"""091 101 Vironniemen peruspiiri","""""Molemmat sukupuolet""""","""""7-8 Ylempi korkeakouluaste ja tutkijakoulutus""""",4119,5,1605,1503,"1006"""

In [4]:
type_of_house = pd.read_csv('./data/Helsingin_asunnot_talotyypin_ja_valmistumisvuoden_mukaan.csv', sep='\,', engine='python')
type_of_house.head()

,"""Osa-alue","""""2022 Yhteensa Yhteensa""""","""""2022 Yhteensa Omakoti- ja paritalot""""","""""2022 Yhteensa Rivitalot""""","""""2022 Yhteensa Kerrostalot""""","""""2022 Yhteensa Muut rakennukset""""","""""2022 - 1920 Yhteensa""""","""""2022 - 1920 Omakoti- ja paritalot""""","""""2022 - 1920 Rivitalot""""","""""2022 - 1920 Kerrostalot""""",...,"""""2022 2020 Yhteensa""""","""""2022 2020 Omakoti- ja paritalot""""","""""2022 2020 Rivitalot""""","""""2022 2020 Kerrostalot""""","""""2022 2020 Muut rakennukset""""","""""2022 Tuntematon Yhteensa""""","""""2022 Tuntematon Omakoti- ja paritalot""""","""""2022 Tuntematon Rivitalot""""","""""2022 Tuntematon Kerrostalot""""","""""2022 Tuntematon Muut rakennukset"""""""
0,091 101 Vironniemen peruspiiri,8495,5,6,8087,397,3924,4,6,3712,...,110,0,0,110,0,0,0,0,0,0
1,091 10 Kruununhaka,4823,2,0,4569,252,2305,..,0,2177,...,45,0,0,45,0,0,0,0,0,0
2,091 20 Kluuvi,630,1,6,491,132,247,0,6,177,...,0,0,0,0,0,0,0,0,0,0
3,091 80 Katajanokka,3042,2,0,3027,13,1372,..,0,1358,...,65,0,0,65,0,0,0,0,0,0
4,091 102 Ullanlinnan peruspiiri,17085,62,30,16617,376,6439,36,23,6088,...,141,0,0,141,0,0,0,0,0,0

In [5]:
income_and_taxes = pd.read_csv('./data/Helsingin_asuntokuntien_tulot_ja_verotus.csv', sep='\,', engine='python')
income_and_taxes.head()

,"""Alue","""""Tulotyyppi""""","""""2017"""""""
0,"""091 101 Vironniemen peruspiiri","""""Asuntokunnat""""","6703"""
1,"""091 101 Vironniemen peruspiiri","""""Henkilot""""","12608"""
2,"""091 101 Vironniemen peruspiiri","""""Valtionveronalaiset tulot yhteensa 100 �""""","5996413"""
3,"""091 101 Vironniemen peruspiiri","""""Valtionveronalaiset tulot � / asuntokunta""""","89459"""
4,"""091 101 Vironniemen peruspiiri","""""Valtionveronalaiset tulot � / henkilo""""","47560"""

In [6]:
type_of_family = pd.read_csv('./data/Helsingin_perheet_perhetyypin_mukaan.csv', sep='\,', engine='python')
type_of_family.head()

                             "Alue            ""Perhetyyppi"" ""2022"""
0  "091 101 Vironniemen peruspiiri       ""Perheet yhteensa""     3509"
1  "091 101 Vironniemen peruspiiri  ""Aviopari ilman lapsia""     1243"
2  "091 101 Vironniemen peruspiiri   ""Avopari ilman lapsia""      854"
3  "091 101 Vironniemen peruspiiri     ""Aviopari ja lapsia""      798"
4  "091 101 Vironniemen peruspiiri      ""Avopari ja lapsia""      207"

In [7]:
gender_age_mother_tongue = pd.read_csv('./data/Helsingin_vaesto_sukupuolen_ian_ja_aidinkielen_mukaan.csv', sep='\,', engine='python')
gender_age_mother_tongue.head()

,"""Alue","""""aidinkieli""""","""""Sukupuoli""""","""""Vaesto yhteensa 2022""""","""""0-vuotiaat 2022""""","""""1-vuotiaat 2022""""","""""2-vuotiaat 2022""""","""""3-vuotiaat 2022""""","""""4-vuotiaat 2022""""","""""5-vuotiaat 2022""""",...,"""""50-54-vuotiaat 2022""""","""""55-59-vuotiaat 2022""""","""""60-64-vuotiaat 2022""""","""""65-69-vuotiaat 2022""""","""""70-74-vuotiaat 2022""""","""""75-79-vuotiaat 2022""""","""""80-84-vuotiaat 2022""""","""""85-89-vuotiaat 2022""""","""""90-94-vuotiaat 2022""""","""""Yli 95-vuotiaat 2022"""""""
0,"""091 101 Vironniemen peruspiiri","""""Kaikki aidinkielet""""","""""Molemmat sukupuolet""""",12984,110,85,96,91,87,96,...,825,847,681,659,714,677,362,147,74,"22"""
1,"""091 101 Vironniemen peruspiiri","""""Kaikki aidinkielet""""","""""Miehet""""",6064,56,47,54,46,49,45,...,409,410,331,277,308,297,142,48,17,"4"""
2,"""091 101 Vironniemen peruspiiri","""""Kaikki aidinkielet""""","""""Naiset""""",6920,54,38,42,45,38,51,...,416,437,350,382,406,380,220,99,57,"18"""
3,"""091 101 Vironniemen peruspiiri","""""Ruotsi""""","""""Molemmat sukupuolet""""",1259,20,15,16,25,11,17,...,76,60,51,63,61,85,42,16,7,"6"""
4,"""091 101 Vironniemen peruspiiri","""""Ruotsi""""","""""Miehet""""",627,11,9,7,11,4,8,...,38,33,26,22,32,43,23,7,2,"3"""

In [8]:
main_activity = pd.read_csv('./data/Helsingin_vaestö_paaasiallisen_toiminnan_sukupuolen_ja_ian_mukaan.csv', engine='python')
main_activity.head()

  Alue,"Paaasiallinen toiminta","Sukupuoli","Vaesto yhteensa 2021","15-64-vuotiaat yhteensa 2021","0-14-vuotiaat 2021","15-29-vuotiaat 2021","30-44-vuotiaat 2021","45-59-vuotiaat 2021","Yli 60-vuotiaat 2021"
0  091 101 Vironniemen peruspiiri,"Koko vaesto","...
1  091 101 Vironniemen peruspiiri,"Koko vaesto","...
2  091 101 Vironniemen peruspiiri,"Koko vaesto","...
3  091 101 Vironniemen peruspiiri,"Tyovoima","Yht...
4  091 101 Vironniemen peruspiiri,"Tyovoima","Mie...